<app-flower-bit></app-flower-bit>
<!-- <div >
    <img src="../assets/flower/pexels-anugrah-lohiya-1646275.jpg" class="zoom" alt="">
    <img src="../assets/flower/pexels-artem-saranin-1187079.jpg" class="zoom" alt="">
    <img src="../assets/flower/pexels-fatmanur-küçükçakır-1420226.jpg" class="zoom" alt="">
    <img src="../assets/flower/pexels-lilartsy-1390433.jpg"class="zoom" alt="">
    <img src="../assets/flower/pexels-secret-garden-931181.jpg"class="zoom" alt="">
    <img src="../assets/flower/pexels-valeria-boltneva-1484657.jpg"class="zoom" alt="">
</div> -->